.app-info{
    padding: 20px;
}
.sidebar-text{
    font-size: 26px;
    font-weight: 600;
    margin: 50px 20px 40px;
    text-align: center;
}
.rate-info{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}
.btn-back{
    font-size: 18;
    cursor: pointer;
    padding: 30px;
    position: absolute;
    bottom: 0;
    
}
.btn-back:before{
    content:"\00ab"; 
    margin-right: 5px;
    font-size: 18px;
}
.btn-back:hover{
    color: #e64545;
    
}