header {
  background: #5851ff;
  color: white;
  height: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: #474A59;
}

h1 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #c2c2c5;
  padding: 0 12px;
  margin: 0 auto;

}
