.app-home {
    background: white;
    margin: 0;
    padding: 20px;
}

.login {
    font-size: 50px;
    font-weight: 600;
    margin: 20px 40px 40px;
}

.form {
    margin: 50px 40px;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 16px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    border-radius: 2px;
    border-bottom: 2px solid #ff5252;
}

#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px auto;
    display: block;

}

#submit:focus {
    color: #f2f2f2;
}

#submit:active {
    color: #d0d0d2;
}

.error {
    visibility: hidden;
    font-size: 14px;
    color: #e33f3f;
}
