.app-profile {
  padding: 20px;
}

.currency-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}
.sidebar-text{
    font-size: 26px;
    font-weight: 600;
    margin: 50px 20px 40px;
    text-align: center;
}
.currency-list button{
    border: none;
    padding: 20px;
    color: #FFF;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.currency-list button:hover{
    background-color: #d14040;
    font-weight: 600;
    transition: all 0.3s linear;
}
.currency-list button:focus{
    border: none;
}